-----BEGIN PUBLIC KEY-----
Replace this file with your actual Telebirr public key.

To generate from your private key:
  openssl rsa -in private_key.pem -pubout -out public_key.pem

Rename this file to: public_key.pem
-----END PUBLIC KEY-----
